{:highlights [{:id #uuid "642712f6-c2be-43de-886a-f2304afd7263",
               :page 1,
               :position {:bounding {:x1 27,
                                     :y1 334,
                                     :x2 264,
                                     :y2 488,
                                     :width 545,
                                     :height 705.2941176470588},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1680282357473},
               :properties {:color "yellow"}}],
 :extra {:page 1}}
