{:highlights [{:id #uuid "64260f59-e9e0-4ad2-9b10-74bf3301ece8",
               :page 2,
               :position {:bounding {:x1 68.015625,
                                     :y1 488.859375,
                                     :x2 347.460693359375,
                                     :y2 503.859375,
                                     :width 771,
                                     :height 997.7647058823529},
                          :rects ({:x1 68.015625,
                                   :y1 488.859375,
                                   :x2 347.460693359375,
                                   :y2 503.859375,
                                   :width 771,
                                   :height 997.7647058823529}),
                          :page 2},
               :content {:text "“When [this thing] happens, do [this other] thing.”"},
               :properties {:color "yellow"}}
              {:id #uuid "64260f83-452d-46e4-9c87-f4bdecb56915",
               :page 1,
               :position {:bounding {:x1 132,
                                     :y1 544,
                                     :x2 672,
                                     :y2 927,
                                     :width 771,
                                     :height 997.7647058823529},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1680215938552},
               :properties {:color "yellow"}}
              {:id #uuid "64260f99-f3d1-439c-8755-0e9b68c32845",
               :page 1,
               :position {:bounding {:x1 133,
                                     :y1 540,
                                     :x2 674,
                                     :y2 927,
                                     :width 771,
                                     :height 997.7647058823529},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1680215960131},
               :properties {:color "yellow"}}
              {:id #uuid "64260fb0-fec0-40b1-a6b1-9d913445046a",
               :page 2,
               :position {:bounding {:x1 61,
                                     :y1 65,
                                     :x2 606,
                                     :y2 239,
                                     :width 771,
                                     :height 997.7647058823529},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1680215983101},
               :properties {:color "green"}}],
 :extra {:page 3}}
