{:highlights [{:id #uuid "6427177a-9644-40ac-80f4-c1ffe8679f6c",
               :page 1,
               :position {:bounding {:x1 33.3203125,
                                     :y1 536.84375,
                                     :x2 348.5449523925781,
                                     :y2 547.34375,
                                     :width 466,
                                     :height 603.0588235294117},
                          :rects ({:x1 33.3203125,
                                   :y1 536.84375,
                                   :x2 348.5449523925781,
                                   :y2 547.34375,
                                   :width 466,
                                   :height 603.0588235294117}),
                          :page 1},
               :content {:text " I am the responsible supervisor designated in the signed supervision contract with this trainee."},
               :properties {:color "green"}}
              {:id #uuid "64271790-3a67-4ba8-8871-69ad4614ed63",
               :page 1,
               :position {:bounding {:x1 22,
                                     :y1 429,
                                     :x2 443,
                                     :y2 478,
                                     :width 466,
                                     :height 603.0588235294117},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1680283534211},
               :properties {:color "blue"}}],
 :extra {:page 1}}
