{:highlights [{:id #uuid "642a0c8c-72aa-437d-ab36-d51a8a6884d4",
               :page 1,
               :position {:bounding {:x1 20,
                                     :y1 296,
                                     :x2 221,
                                     :y2 413,
                                     :width 466,
                                     :height 603.0588235294117},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1680477322298},
               :properties {:color "yellow"}}],
 :extra {:page 1}}
