{% extends 'base.html' %}
{% block content %}
  <div class="container">
    <h1 class="display-1">Phone Numbers</h1>
    <table class="table table-striped ">
      <thead class="thead-dark">
        <th>Employee</th>
        <th>ID</th>
        <th>Department</th>
        <th>Phone</th>
      </thead>
      <tbody>
        {% for emp in emps %}
        <tr>
          <td>{{emp.name}} <a class="btn btn-sm btn-info" href="/employees/{{emp.id}}">Edit</a></td>
          <td>{{emp.id}} </td>
          <td>{{emp.dept.dept_name}}</td>
          {% if emp.dept.phone %}
          <td>{{emp.dept.phone}}</td>
          {% else %}
          <td class="text-danger">NO PHONE</td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="/employees/new" class="btn btn-success">Add Employee</a>
  </div>

{% endblock %}