.Homepage {
    /* put around the vertical center of page */
    height: calc(100vh - 150px);
    display: flex;
    align-items: center;
    background-image: 'https://img.freepik.com/free-photo/computer-program-coding-screen_53876-138060.jpg?w=1060&t=st=1706885040~exp=1706885640~hmac=3049e7987fdc430e17313629f83d4c6c77a6bf9b034c6e706fc24ed13a732eb7'
  }
  