{% extends "base.html" %}

{% block title %}Pet Adoption New Form{% endblock %}

{% block content %}
<div class="container">
<h1 class="display-1 text-center">New Pet Form</h1>
<div class="row justify-content-center">
    <div class="col-md-8">
<form class="form form-group" method="POST">
    {{ form.hidden_tag() }}
    {% for field in form if field.widget.input_type != 'hidden' %}
    <div class="form-group">
    {{ field.label }}
    {{ field(class_="form-control") }}
    
    {% for err in field.errors %}
    <small class="form-text text-danger">
    {{ err }}
    </small>
    {% endfor %}
    </div>
    {% endfor %}
<button class="btn btn-success">Submit</button>
<a href="/" class="btn btn-secondary">Back</a>
</form>
</div>
</div>
</div>
{% endblock %}