{% extends 'base.html' %}

{% block content %}
<h1>Foreign Currency Exchange</h1>

<form action="/call_api" id="form">
    <h3>Currency from:</h3>
        <select name="curr_from">
         {% for code, country in countries.items() %}
           <option value="{{ code }}">{{ country.currency_code }}</option>
          {% endfor %}
         </select>
    <h3>Currency to:</h3>
       <select name="curr_to">
         {% for code, country in countries.items() %}
           <option value="{{ code }}">{{ country.currency_code }}</option>
          {% endfor %}
         </select>
    <h3>Amount:</h3>
     <input name="amount" placeholder="Amount:  (ex: 50)" />
    <br />
    <br />
    <br />
     <button>Submit</button>
</form>

{% endblock %}
<p>{{ curr_from }}</p>
<p>{{ curr_to }}</p>
<p>{{ amount }}</p>
<p>{{ amount }}</p>

{% block list %}

{% endblock %}