    div {
         align-items: center; 
         align-self: center;

            
     }

    div img {
        text-align:center;
        /* height: auto;
            width: auto; */
        } 