{% extends 'base.html' %}

{% block content %}
<h1>Foreign Currency Exchange</h1>

<form action="/call_api" id="form" methods="POST">
    <h3>Select currency to get lastest rates:</h3>
        <select name="curr_from" >
         {% for code in countries.symbols.keys() %}
           <option value="{{ code }}">{{ code }}</option>
          {% endfor %}
         </select>
    <h3>Currency date:</h3>
       <select name="curr_to">
         {% for code in countries.symbols.keys() %}
           <option value="{{ code }}">{{ code }}</option>
          {% endfor %}
         </select>
    <h3>Amount:</h3>
     <input name="amount" placeholder="Amount:  (ex: 50)" />
    <br />
    <br />
    <br />
     <button>Submit</button>
</form>

<p>
  {{result}}, {{ curr }}
</p>
<!-- {% endblock %} -->

<!-- {% block list %} -->

<!-- {% for code, rate in result.rates.items() %} -->
<!-- {% if curr == code %} -->

<!-- <p>This currency: {{ code }}, and this is current rate: {{ rate }}</p> -->
<!-- {% endif %} -->
<!-- {% endfor %} -->


<!-- <p>{{ curr_to }}</p> -->
<!-- <p>{{ amount }}</p> -->


{% endblock %}
