{% extends 'base.html' %}
{% block content %}
  <div class="container">
    <h1 class="display-1">Project: {{ proj.proj_name }}</h1>

    <h5 class="card-header-pills">Project Code:</h5>
    <h3 class="card-header-pills">{{proj.proj_code}}</h3>
    <h5 class="card-header-pills">Project Name:</h5>
    <h4 class="card-header-pills">{{proj.proj_name}} </h4>

            <form method="POST">
              {{ form.hidden_tag() }}
              {% for field in form if field.widget.input_type != 'hidden'%}
              <div class="form-control bg-secondary-subtle">
                {{field.label}}
                {{field}}
                {% for err in field.errors %}
                {{err}}
                {% endfor %}
              </div>
              {% endfor %}
              <button  class="btn  btn-success btn-lg">Save</button>
              
              <!-- <a href="/departments/{dept_code}/delete" class="btn btn-danger btn-lg">
                Delete
              </a> -->

            </form>
          </div>
          <a href="/projects" class="btn btn-secondary mt-4">Back</a>

  
 
{% endblock %}