/* some colors you may find useful:
  #115ff4
  #060ce9
  #28a200
  #8d2ab5
  #74119c
*/

.fa fa-spin fa-spinner {
}

body {
  background-color: rgb(23, 126, 204);
  background-repeat: no-repeat;
  /* background-image: none; */
}

h1 {
  text-align: center;
  color: white;
  font-size: 4em;
}

button {
  margin: auto;
  padding: .8em;
  width: 119px;
  border-radius: 5px;
  background-color: bisque;
}

#spin-container {
}

.flipped-first {
  background-color: #8d2ab5;
  color: white;
  border-color: black;
}

.flipped-second {
  background-color: #28a200;
  color: white;
  border-color: black;
}

body .bg {

}
 
/* .fa fa-spin fa-spinner {

} */

body .on-load {
  background-image: url("jeopardy.gif");
  
}

body.off-load {

}

table {
  border-color: black;
  /* border-style:  bold; */
background-color: rgba(14, 14, 224, 0.847);
}

table td {
  border-color: black;
  border: 3px solid  black;
}

table th {
  border-color: black;
  background-color: #74119c;
  color: white;
  border: 3px solid  black;
}
table, th, td {
  /* border-collapse: collapse; */
  /* border-width: bold, thin, medium, thick; */
  border-style: solid;
  border-radius: 5px;
  border: 3px solid  black;
  text-align: center;
  height: 50px;
  /* width: auto; */
  color: white;
  /* border-color: black; */
  
}

th {
   padding: 2em;
}

td {
   padding: 2em;
}

/* button {
  border-radius: 5px;
  background-color: white;
} */