html {
   background-color: black;
} 

h1, h2, h3, h4, h5, h6 {
   color: aquamarine;
}

section {
   background-color: pink;
}

body {
   margin: 5px;
   background-color: aqua;
}

ol, li {
   color: black;
}

.todo {
   color:black;
}

.completed {
   color: gray;
   text-decoration: line-through;
 }