@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    background-color: #d0cfcf;
}

p { 
    font-family: Roboto, serif;    
}

a {
    text-decoration-line: none;
}

h2 {
    text-transform: capitalize;
}

body {
    font-size: 16px;
}

section {
    font-size: 1.5em;
}

h1 {
    filter: drop-shadow(5px 5px 2px red);
}