.Navigation {
  /* background-color: rgba(222, 222, 1, 0.875); */
  background-color: rgba(220, 220, 32, 0.933);
  border-bottom: 2px solid rgba(0, 0, 0, 0.125);
  margin: 3px;
  
}

.nav-link.active {
  font-weight: bold;
  color: black;
}

