input {
    background-color: rgb(49, 49, 230);
    transition: margin-right 2s ease-in-out 2s;
    border: none;
    color: white;
    border-radius: 4px;
}

/* input:hover {
     margin-right: 10px; 
    background-color: lightblue;

} */

/* input:active {
    margin-right: 10px; 
}*/

/* input:focus {
    outline: 5px;
} */

input:active {
    background-color: lightblue;
    /* transition: margin-right 3s ease-in-out 2s; */
}