{% extends 'base.html' %}

{% block title %} {{ post.title }} {% endblock %}


{% block content %}

<h1>{{ post.title }}</h1>
<div class="container">
    <p>{{ post.content }}</p>
    <p>By:  {{ post.user.full_name }}</p>
    <p>Date:  {{ post.friendly_date }}</p>
</div>

<form>
    <button class="btn btn-secondary" formmethod="GET" formaction="/users/{{ post.user.id }}">Cancel</button>
    <button class="btn btn-primary" formmethod="GET" formaction="/posts/{{ post.id }}/edit">Edit</button>
    <button class="btn btn-danger" formmethod="POST" formaction="/posts/{{ post.id }}/delete">Delete</button>
</form>


{% endblock %}
