{% extends 'base.html' %}

{% block title %}Edit {{ user.full_name }}{% endblock %}

{% block content %}

<h1>Edit {{ user.full_name }}</h1>
<form class="form-group" method="POST">
    <input type="text" name="first_name" value="{{ user.first_name }}">
  
    <input type="text" name="last_name" value="{{ user.last_name }}">
 
    <input type="text" name="image_url" value="{{ user.image_url }}">

    <a href="/users" class="btn btn-secondary">Cancel</a>
    <button type="submit" class="btn btn-success">Save</button>
  
</form>

{% endblock %}
