{% extends 'base.html' %}

{% block title %}{{ user.full_name }}{% endblock %}

{% block content %}

  {% if user.image_url %}
    <img src="{{ user.image_url }}" alt="{{ user.full_name }}" class="img-fluid">
  {% endif %}

  <div>
    <h1 class="mt-3">{{ user.full_name }}</h1>

    <form>
      <a href="/users" class="btn btn-secondary">Cancel</a>
      <button class="btn btn-primary" formaction="/users/{{ user.id }}/edit" formmethod="GET">Edit</button>
      <button class="btn btn-danger" formaction="/users/{{ user.id }}/delete" formmethod="POST">Delete</button>
    </form>
  </div>

  <div>
    <h3 class="mt-3">Posts</h3>
    <ul>
    {% for post in user.posts %}
      <li><a href="/posts/{{ post.id }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
  <p><a class="btn btn-primary" href="/users/{{ user.id }}/posts/new">Add New Post</a></p>
  </div>

  <div>
    <ul>
    {% for tag in tags %}
    <li><a href="{{ tag.id }}">{{ tag.name }}</a></li>
    {% endfor %}
  </ul>
  </div>
{% endblock %}
