{% extends 'base.html' %}

{% block title %}Pet Adoption Homepage{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="display-1 text-center">Available Pets</h1>
        <table class="table table-striped">
            <thead class="thead-dark">
                <th>Names</th>
                <th>Photo</th>
                <th>Available</th>
            </thead>
            <tbody>
            {% for pet in pets %}
                <tr>
                    <td>{{ pet.name }}<a href="/pets/{{ pet.id }}/edit" class="btn btn-sm btn-info">Edit</a></td>
                    <td>{{ pet.photo_url }}</td>
                    {% if pet.available %}
                    <td class="text-danger">AVAILABLE NOW!!!</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="/pets/new" class="btn btn-primary">Add Pet</a>
    </div>
{% endblock %}