{% extends 'base.html' %}
{% block content %}
  <div class="container">
    <h1 class="display-1">Department: {{ dept.dept_name }}</h1>

    <h3 class="card">Department Code: {{dept.dept_code}}</h3>
    <h4 class="card">Department Name: {{dept.dept_name}} </h4>
            {% if dept.phone %}
            <h5 class="card">{{dept.phone}}</h5>
            {% else %}
            <h5 class="text-danger">NO PHONE</h5>
            {% endif %}
         


            <form method="POST">
              {{ form.hidden_tag() }}
              {% for field in form if field.widget.input_type != 'hidden'%}
              <div class="form-control">
                {{field.label}}
                {{field}}
                {% for err in field.errors %}
                {{err}}
                {% endfor %}
              </div>
              {% endfor %}
              <button  class="btn  btn-success btn-lg">Save</button>
              
              <!-- <a href="/departments/{dept_code}/delete" class="btn btn-danger btn-lg">
                Delete
              </a> -->

            </form>
          </div>
          <a href="/departments" class="btn btn-secondary mt-4">Back</a>

  
 
{% endblock %}