{% extends 'base.html' %}
{% block content %}

<!-- <form >
  <label for="input">Enter Chapter:</label>
  <input id="input" name="input"   />
  <button>Search</button>
</form> -->

  <div class="container">
    <h1 class="display-1">Romans 8: 1-39</h1>
    
    <table class="table table-striped ">
      <thead class="thead-dark">
        
        <th>Book</th>
        <th>Chapter</th>
        <th>Verse</th>
        <th>Passage</th>
      </thead>
      <tbody>
        {% for s  in scriptures %}
        <tr>
   
          <td>{{s.book_name}} </td>
          <td>{{s.chapter}} </td>
          <td>{{s.verse}} </td>
          <td>{{s.text}} </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    
  </div>

  
 
{% endblock %}