<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greet Form2</title>
</head>
<body>
    <h1>Greet Form2</h1>
    <form action="/greet2">

      <input type="text" name="username" placeholder="username" />
        <label for="compliments">Do you want compliments?</label>
      <input id="compliments" type="checkbox" name="wants_compliments" />
      <button>Submit!</button>
   </form> 
</body>
</html>