<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sqlalchemy practice</title>
</head>
<body>
    <h1>Home Page!</h1>

<p>pet2 name:  {{ pet2.name }}, pet2_hunger:  {{ pet2.hunger }}</p>
<p>hungry_animals:  {{ hungry }}</p>
<p>turtles:  {{ turtles }}</p>
<p>an_hun:  {{ an_hun }}</p>
<p>filt_one:  {{ filt_one }}</p>
<p>filt_and:  {{ filt_and }}</p>
<p>not_e:  {{ not_e }}</p>
<p>filt_hun:  {{ filt_hun }}</p>
<p>db_sess:  {{ db_sess }}</p>
<p>pets:  {{ pets }}</p>
<p>name:  {{ stevie.name }}, hunger: {{ stevie.feed() }}</p>
<p>query:  {{ query }}</p>
<p>filt:  {{ filt }}</p>
<p>hunger:  {{ hun }}</p>
<p>filt_all:  {{ filt_all }}</p>


</body>
</html>
